* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:#fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

 /* NAV */
 .main-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 60px;
   padding: 20px 0;
   font-size: 13px;
 }

 .main-nav .logo {
   width: 110px;
 }

 .main-nav ul li {
   padding: 0 10px;
 }

 .main-nav ul li a {
   padding-bottom: 2px;
 }

 .main-nav ul li a:hover {
   border-bottom: 2px solid #262626;
 }

 .main-nav ul {
   display: flex;
 }

 .main-nav ul.main-menu {
   flex: 1;
   margin-left: 20px;
 }

 .btn {
   cursor: pointer;
   display: inline-block;
   border: 0;
   font-weight: bold;
   padding: 10px 20px;
   background: #262626;
   color: #fff;
   font-size: 15px;
 }

 .btn:hover {
   opacity: 0.9;
 }

 .dark {
   color: #fff;
 }

 .dark .btn {
   background: #f4f4f4;
   color: #333;
 }

 /* SHOWCASE */
 .showcase {
   width: 100%;
   height: 400px;
   background: url('./images/slide1.png') no-repeat center center/cover;
   display: flex;
   flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 40px;
 }

 .showcase h2, .showcase p {
   margin-bottom: 10px;
 }

 /* Home Cards */
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}

.home-cards img {
  width: 100%;
  margin-bottom: 10px;
}

.home-cards h3 {
  margin-bottom: 5px;
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  font-weight: bold;
}

.home-cards a:hover i {
  margin-left: 10px;
}

/* XBOX */
.xbox {
  height: 350px;
  width: 100%;
  background: url('/images/xbox.png') no-repeat center center/cover;
  margin-bottom: 40px;
}

.xbox .content {
  width: 40%;
  padding: 50px 0 0 30px;
}

.xbox p, .carbon p {
  margin: 10px 0 20px;
}

/* Carbon */
.carbon {
  width: 100%;
  height: 350px;
  background: url('./images/carbon.jpg') no-repeat center center/cover;
}

.carbon .content {
  width: 55%;
  padding: 100px 0 0 30px;
}

.follow {
  display: flex;
  margin: 30px 0 30px;
  align-items: center;
  justify-content: flex-start;
}

.follow * {
  margin-right: 10px;
}